{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('https://i.ibb.co/GTnTrdc/about-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">Noting So exciting.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
       <h3 class="question"> Who am I ? </h3>
        <p>I am Raj, A 19 years old BCA student. Doing random stuffs, want to explore the Programming world. </p>
      <h3 class="question">What was the first programming language that you learned?</h3>
        <p>C was the first programming language in my 1st semester. Though in Lockdown, I had picked up a fair amount of JavaScript and Python. I making my first math-based game with python. BTW I'm very terrible at math.</p>
      <h3 class="question">What do you enjoy about programming?</h3>
        <p>I love looking through code so I can find errors and fix them. In fact, I’ve always loved fixing things methodically. Also it's lot better then my class 12 Geography and History Paper.</p>
      <h3 class="question">What’s the hardest thing about working as a computer programmer?</h3>
        <p>As much as I love sitting at my laptop and solving problems, create bugs then fix it. But I need regular breaks to maintain my focus, and I think the hardest part is avoid Chill and focus on your project.</p>
      <h3 class="question">What’s your favorite programming language?</h3>
        <p>I love using Python because it’s such an great language with so many purposes. I learned Python when lockdown started. Python makes it often easy for developers, write less and readable codes.</p>
      <h3 class="question">Can you tell me about your favorite programming project?</h3>
        <p>This Website, that you're currently visiting.</p>
      <h3 class="question">What’s the most recent language that you learned?</h3>
        <p>I probably don’t keep up with as many new languages as I should, but I’ve learned a lot since lockdown. Recently I just try the <a href="https://golang.org/">golang</a> language.</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}