{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

<!-- Page Header -->
{% with img_url="https://i.ibb.co/JC4qJF1/otp.jpg" ,heading="Verify Email", subheading = "Verify your email, and get started !" %}
    {% include "header.html" %}
{% endwith %}

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
       {% with messages = get_flashed_messages() %}
          {% if messages %}
              <div class="notification is-danger" style="color: red">
                <em>{{ messages[0] }}</em>
              </div>
          {% endif %}
        {% endwith %}
       {{ wtf.quick_form(form, novalidate=True, button_map={'submit': 'primary'}) }}

      </div>
    </div>
  </div>

{% include "footer.html" %}
{% endblock %}