{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

  <!-- Page Header -->
    {% with img_url="https://i.ibb.co/n61jY3M/forgot-pass.jpg" ,heading="Forgot Password", subheading = "Find your account, and reset your password!" %}
        {% include "header.html" %}
    {% endwith %}

  <div class="container">
    <div class="row">

      <div class="col-lg-8 col-md-10 mx-auto content">
         {% with messages = get_flashed_messages() %}
          {% if messages %}
              <div class="notification is-danger" style="color: red">
                <em>{{ messages[0] }}</em>
              </div>
          {% endif %}
          {% endwith %}

        {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "info"}) }}
      </div>
    </div>
  </div>


{% include "footer.html" %}
{% endblock %}