{% with inherit=False %}
  {% include "header.html" %}
{% endwith %}
{% import "bootstrap/wtf.html" as wtf %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{post.img_url}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>{{post.title}}</h1>
            <h2 class="subheading">{{post.subtitle}}</h2>
            <span class="meta">Posted by
              <a href="#">{{post.author}}</a>
              on {{post.date}}</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            {{ post.body|safe }}
          <hr>

          <!-- Edit POST -->
          {% if current_user.id == 1: %}
            <div class="clearfix">
            <a class="btn btn-primary float-right" href="{{url_for('edit_post', post_id=post.id)}}">Edit Post</a>
            </div>
          {% endif %}

          {{ ckeditor.load() }}
          {{ ckeditor.config(name='comment') }}
          {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}

<!--           Comments Area -->
          <div class="col-lg-12 col-md-10 mx-auto comment">
              <ul class="commentList">
                {% for comment in post.comments %}
                  <li>
                      <div class="commenterImage">
                        <img src="{{ comment.comment_author.email | gravatar }}"/>
                      </div>
                      <div class="commentText">
                        <p>{{ comment.comment | safe  }}</p>
                        <span class="date sub-text">comment {{ comment.comment_author.name }}</span>
                        {% if current_user.id == 1: %}
                          <a href="{{url_for('delete_comment', comment_id=comment.id) }}">✘</a>
                        {% endif %}
                      </div>
                  </li>
                {% endfor %}
              </ul>
            </div>


          </div>
      </div>
    </div>
  </article>

  <hr>
{% include "footer.html" %}