{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

  <!-- Page Header -->
  {% with img_url="https://i.ibb.co/XpYH9kd/register.jpg" ,heading="Register", subheading = "Start Contributing to the website!" %}
      {% include "header.html" %}
  {% endwith %}

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
       
       {{ wtf.quick_form(form, novalidate=True, button_map={'submit_button': 'primary'}) }}

      </div>
    </div>
  </div>

{% include "footer.html" %}
{% endblock %}