<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Robots</title>
</head>
<body>
    <p>
        #  Notice: The use of robots or other automated means to access Code With Raj without <br>
        #  the express permission of LinkedIn is strictly prohibited.<br>
        #  CodeWithRaj may, in its discretion, permit certain automated access to certain CodeWithRaj pages,<br>
        #  for the limited purpose of including content in approved publicly available search engines.<br>
        #  If you would like to apply for permission to crawl CodeWithRaj, please email rajkar921@gmail.com.<br>
        <br>
        <br>
        User-agent: Googlebot<br>
        Disallow: /home*<br>
        Disallow: /login*<br>
        Disallow: /register*<br>
        Disallow: /contact*<br>
        Disallow: /about*<br>
        Disallow: /new-post*<br>
        Disallow: /edit-post*<br>
        Disallow: /delete-post*<br>
        Disallow: /edit-comment*<br>
        Disallow: /delete-comment*<br>
        Disallow: /post*<br>
        Disallow: /articles*<br>
        <br>
        <br>
        # Notice: If you would like to crawl CodeWithRaj,<br>
        # please email rajkar921@gmail.com to apply<br>
        # for white listing.<br>
    </p>
</body>
</html>